# Copyright 2026 FER, HPC Architecture and Application Research Center
# SPDX-License-Identifier: Apache-2.0 WITH SHL-2.1
#
# Emil Popovic <mail@emilpopovic.me>

adapter speed 1000

set CHIP friscv
jtag newtap $CHIP cpu -irlen 5 -expected-id 0x00000db3
target create $CHIP.cpu riscv -chain-position $CHIP.cpu

reset_config none
init
halt
